*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: url(./assets/images/background-pattern-desktop.svg) no-repeat;
background-color: hsl(275, 100%, 97%);
display: flex;
justify-content: center;
align-items: center;
width: 100%;
flex-direction: column;
min-height: 100vh;
background-size: contain;
}

.container{
    background:white;
    display: flex;
    width: 550px;
    padding: 30px 40px;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;

}

.container .heading{
    display: flex;
    gap: 20px;
}


.container .heading h1{
   font-weight: 800px;
}

.container .question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container p{
    color: hsl(292, 42%, 14%);
    font-size: 16px;
}

.container .question img{
    cursor: pointer;
}

.hidden{
    display: none;
}

.attribution{
    margin-top: 40px;
}

.container hr{
    border: 1px solid #d3d3d3;
}


@media(max-width:565px){
    .container{
        width: 400px;
    }
}

@media(max-width:400px){
    .container{
        width: 350px;
    }
}

